{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>

    {% if page.slug == 'a-propos' %}
        <img src="/lebrou_photo_face.jpg" alt="Maître Baptiste Lebrou" style="max-width: 300px; border-radius: 8px;">
    {% endif %}

    <div>{{ page.content|raw }}</div>
{% endblock %}
